# --- 基本環境 (Python 3.11) ---
ollama==0.4.9
# --- GraphRAG ---
# graphrag>=1.0.0

# --- db --- 
lancedb>=0.6.8
pyarrow>=17.0.0
duckdb>=1.0.0
pandas>=2.2.2

# --- Neo4j ---
neo4j-graphrag[ollama]>=0.1.0
neo4j>=5.23.0

numpy
rich
rapidfuzz
